<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Welcome <span th:text=${username}></span> to Code Fellowship App.</h1>
<h2>The place which you can connect with other coding learners and exchange your experiences and the support with them.</h2>
<a href="/users/1">User's Page</a>
<br>
<a href="/signup">Sign Up</a>
<br>
<a href="/login">login</a>
<br>
<a href="/addPost">Create New Post</a>
<br>
<a href="/myprofile">My profile</a>
<br>
<a href="/profile">My Posts</a>
<br>
<a href="/feed">My Feed's page</a>

</body>
</html>