<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts page</title>
</head>
<body>
    <h2>Welcome <span th:text=${username}></span> To Your profile</h2>
    <div th:if="${! posts.isEmpty()}">
        <h2>Your Posts: </h2>
        <div th:each="post : ${posts}">
            <p>Body: <span th:text=${post.body}></span></p>
            <p>Created At: <span th:text=${post.createdAt}></span></p>
            <hr>
        </div> 
    </div>
    <div th:unless="${! posts.isEmpty()}">
        <h2>There is no posts yet..</h2>
    </div>
   
    <h4>
        <br>
        <br>
        <a href="/addPost">Add New Post</a>
        <br>
        <a href="/">Home page</a>
        <br>
        <a href="/perform_logout">Logout</a>
    </h4>



</body>
</html>